
@{
    ViewBag.Title = "AddProject";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}





<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="~/Scripts/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="~/Scripts/Admin/AddProject.js"></script>


</head>
<body>
    <form id="form1">
        <div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 well well-sm">

                <div class="row">

                    <div style="width:30%;margin-left:350px">
                        <br />
                        <br />

                        <h3 style="text-align:center">ADD USER</h3></br>
                        <label for=""> Project Name</label>
                        <input name="ProjectName" id="txtaddEmpName" placeholder="Project Name" type="text" class="form-control" style="width:300px" />
                        
                        <label for="comment" id="Subject">Start Date</label>
                        <input type="text" id="datepicker" class="form-control" style="width:300px" placeholder="Start Date"> 

                        <label for=""> Status</label>
                        <select id="ddlStatus" class="form-control" style="width:150px" >
                            <option style="display:none;">Select</option>
                            <option value="True">Active</option>
                            <option value="False">Completed</option>
                        </select>
                        <br/>

                        
                        <div align="center">
                            <input type="submit" value=" Save " class="btn btn-info" id="btnSave" style="width:100px" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    
</body>
</html>












