
@{
    ViewBag.Title = "AddUser";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}


<html xmlns="http://www.w3.org/1999/xhtml">
<head >
    <title></title>
    <link href="~/Scripts/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/Admin/AddUser.js"></script>
</head>
<body>

    <form id="form1">
        <div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 well well-sm">

                <div class="row" >
                   
                    <div  style="width:30%;margin-left:350px">
                        <br />
                        <br />

                        <h3 style="text-align:center">ADD USER</h3></br>
                        <label for=""> UserName</label>
                        <input class="form-control" name="UserName" id="uname" placeholder="UserName" type="text" /> <br />
                        <label for=""> Password</label>
                        <input class="form-control" name="Password" id="pwd" placeholder="Password" type="password" /> <br />
                        <label for=""> EmailID</label>
                        <input class="form-control" name="EmailId" id="email" placeholder="EmailId" type="text" /> <br />

                        <label for=""> Project</label>
                        <select class="form-control" id="ddlProject" style="width:50%"></select>

                        <label for=""> Role</label>
                        <select class="form-control" id="ddlRole" style="width:50%"></select>
                        <br />
                        <div align="center">
                            <input type="submit" value=" Save " class="btn btn-info" id="btnSave" style="width:100px" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>



