<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    
    <link href="~/Scripts/OurScripts/GlobalSheet.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row">

            <img src="~/Images/Back(02).jpg" class="img-responsive" id="imgHeader" />
        </div>
        <div class="row" id="divbody">
            @RenderBody()
        </div>
        <div class="row">
            <img src="~/Images/black_footer.png" class="img-responsive" id="imgFooter" />
        </div>
    </div>
    
</body>
</html>
