@{
    ViewBag.Title = "CreateDoc";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}


<html xmlns="http://www.w3.org/1999/xhtml">
<head >
    <title></title>
    <link href="~/Scripts/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <link href="~/Scripts/OurScripts/editor.css" rel="stylesheet" />
    <link href="~/Scripts/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/OurScripts/editor.js"></script>
    <script src="~/Scripts/Mom/CreateMom.js"></script>


    

</head>
<body>
  @*@using (Html.BeginForm("CreateDoc", "Mom", FormMethod.Post))*@
  
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 well well-sm">
          <div class="row">
              <div class="col-lg-8">
                  <div align="center">
                      <label for="comment">Select Project:</label>
                      <select id="ddlProject" class="form-control" style="width:150px"></select>
                  </div><br />
                  <label for="comment"  >Date:</label></br>
                  <input type="text" id="datepicker" class="form-control" style="width:250px"><br />
                  <label for="comment" >Subject:</label></br>
                  <input class="form-control" name="UserName" id="subject" type="text" />
                  <label for="comment" id="Body">Description:</label></br>
                  <textarea class="form-control" rows="5" id="messageBody"></textarea>
              </div>

              <div class="col-lg-4" style="text-align:center" id="divresult">
                  @*<label for="comment">Employee List:</label></br>*@
                  <br /><br /><br /><br />
                  <label for="comment">Employee List:</label></br>
                  <select name="List" id="List" multiple="multiple" class="form-control"></select>
                  <table id="tbl"></table>
              </div>
          </div><br/>
          <div style="text-align:center">
              <input type="submit" id="btn" class="btn btn-info" value="Save" style="width:100px">
          </div>
        </div>
            
        
  
</body>
</html>


