@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<h2>Index</h2>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="~/Scripts/bootstrap.css" rel="stylesheet" />
  

</head>
<body>
    <form id="form1" runat="server">       
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 well well-sm">
            <div class="row">
                <div class="col-lg-8">
                    <div style="text-align:center">
                        <label for="comment">Select Project:</label>
                        <select id="dropdown"></select>
                    </div></br>
                    <div class="form-group">
                        <label for="comment">Subject:</label></br>
                        <input class="form-control" name="UserName" id="sub" placeholder="Subject" type="text" />
                        <label for="comment">Description:</label></br>
                        <textarea class="form-control" rows="5" id="description"></textarea>
                    </div>
                </div>
                <div class="col-lg-4" style="text-align:center" id="divresult">
                  @*<label for="comment">Employee List:</label></br>*@
                    <br/><br/>
                    <label for="comment">Employee List:</label></br>
                    <select name="List" id="List" multiple="multiple" class="form-control">

                    </select>
                        <table id="tbl"></table>
</div>

            </div>
            <input type="submit" id="btn" class="btn btn-info" value="Send">
        </div>
    </form>
</body>
</html>

<script type="text/javascript">
    $(document).ready(function () {
        $("#btn").click(function () {
            var Subject1 = $("#sub").val();
            var Description1 = $("#description").val();
            var json = {}
            json.Subject = Subject1
            json.Description = Description1
            var source = {
                'Subject': $("#sub").val(),
                'Description': $("#description").val()
            }


            $.ajax({
                type: "POST",
                dataType: "json",
                url: "http://localhost:50933/api/Mom/Savemom",
                data: JSON.stringify(source),
                success: function (data) {
                    window.location.href = "Index";
                },
                error: function (error) {
                    jsonValue = jQuery.parseJSON(error.responseText);

                }
            });
        });


        jQuery.support.cors = true;
        $.ajax({
            type: "POST",
            url: "http://localhost:50933/api/Mom/Getproject",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'text/plain'
            },
            dataType: 'json',
            success: function (data) {
                var result = data;
                alert(result.length);
                $("#dropdown").append(
                       $('<option/>', {
                           value: 0,
                           text: "select"
                       })
                   );
                for (var i = 0; i < data.length; i++) {
                    $("#dropdown").append(
                        $('<option/>', {
                            value: data[i].ProjectID,
                            text: data[i].ProjectName
                        })
                    );
                }
            }
        });


                jQuery.support.cors = true;
                $("#dropdown").on('change', function () {
                    var id = $(this).val();
                    //alert(id);    
                $.ajax({
                    type: 'POST',
                    url: "http://localhost:50933/api/Mom/Getlist?id=" + id,
                    //contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: function (data) {
                        alert(JSON.stringify(data))
                        if (data != null) {
                          
                            var strResult = "<table><th>EmployeeList</th>";
                           for (var i = 0; i < data.length; i++){
                                //strResult += "<tr><td>" + data[i].UserName + "</td></tr> </br>"
                                //strResult += "</table>";
                               //$("#divresult").html(strResult);

                               $("#List").append(
                        $('<option/>', {
                           // value: data[i].ProjectID,
                            text: data[i].UserName
                        })
                    );
                            }
                          
                        }
                    },
                    error: function (msg) {
                        alert(msg.nodata);
                    }
                });
                });
            }); 

 </script>   
